@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-color: #ade6b1;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.heading{
    font-size: 3rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
    /* background-color: #29b73e; */
    border-bottom: 1.5px solid gray;
}
.nav-left{
    padding: 0 20px;
}
.nav-right{
    padding: 0 20px;
    font-size: 1.1rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #000;
    padding: 10px;
    border-radius: 4px;
}

.subheading{
    font-size: 1.2rem;
    color: #212121;
    margin-top: 1.5rem;
}

.content{
    font-size: 1.3rem;
    width: 60vw;
}